*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
}

/* *************************************************************************************************************** */
.page-actions-container{
    height: 3rem;
    background-color: #218c74;
    display: flex;
    align-items: center;
}
.page-action{
    margin-left: 1rem;
    color: white;
    font-family:Verdana;
}
/* ******************************************************************************************************************************* */

.cellprop-actions-container{
    height: 3rem;
    background-color:#dfe6e9;
    display: flex;
    align-items: center;
    /* padding-left: 0.5rem; */
}
.cellprop-actions-container > * {
    display: inline-block;
    margin: 1rem;
    border: none;
    outline: none;
}
.font-family-prop, .font-size-prop{
    border-radius: 2px;
    padding: 0.2rem;
}

/* ******************************************************************************************************************************* */
.formula-actions-container{
    height: 3rem;
    background-color: #dfe6e9;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.formula-actions-container>*{
    display: inline-block;
    margin-right: 0.7rem;
}

.formula-bar{
    width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}

.formula-actions-container > input {
    border: none;
    outline: none;
    height: 60%;
}

.formula-icon{
    width: 1.5rem;
}


/* ******************************************************************************************************************************* */
.grid-container{
    height: calc(100vh - 12rem);
    background-color: #f1f2f6;
}
/* ******************************************************************************************************************************* */
.sheet-action-container{
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
    background-color:#ced6e9;
}
.sheet-action-container > * {
    display: inline-block;
}
.sheets-folder-container{
    display: flex;
    align-items: center;
    height: 75%;
    width: calc(100vw - 1.5vw);
    background-color: cornsilk;
}
.sheet-add-icon{
    width: 2vw;
}
.sheet-folder{
    text-decoration-thickness: 2px;
    font-family: Verdana;
    /* font-weight: bold; */
}

